@import 'tailwindcss';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Primary */
    --p: hsl(336, 57%, 48%); /* Primary Colour */
    --pf: hsl(336, 57%, 38%); /* Darker shade (Hover etc.) */
    --pc: hsl(0, 0%, 100%); /* White content(text) for contrast */

    /* Secondary */
    --s: hsl(237, 37%, 20%); /* #292F5B */
    --sf: hsl(237, 37%, 10%); /* Darker shade (Hover etc.) */
    --sc: hsl(0, 0%, 100%); /* White content(text) for contrast */

    /* Tertiary */
    --t: hsl(237, 37%, 20%); /* #292F5B */
    --tf: hsl(237, 37%, 10%); /* Darker shade (Hover etc.) */
    --tc: hsl(0, 0%, 100%); /* White content(text) for contrast */

    /* Ternary */
    --t: hsl(206, 23%, 85%); /* #E5E5EA */
    --tf: hsl(206, 23%, 72%); /* Darker shade */
    --tc: hsl(0, 0%, 0%); /* Black content for contrast */

    /* Accent (Complementary color to Primary) */
    --a: hsl(156, 57%, 48%); /* A contrasting greenish tone */
    --af: hsl(156, 57%, 38%); /* Darker shade of the a */
    --ac: hsl(0, 0%, 0%); /* Black content(text) for contrast */

    /* Neutral */
    --n: hsl(0, 0%, 50%); /* Grey */
    --nf: hsl(0, 0%, 40%); /* Darker Grey */
    --nc: hsl(0, 0%, 100%); /* White content(text) */

    /* Base */
    --b1: hsl(0, 0%, 98%); /* Near White */
    --b2: hsl(0, 0%, 90%); /* Light Grey */
    --b3: hsl(0, 0%, 82%); /* Mid-Light Grey */
    --b4: hsl(0, 0%, 72%); /* Mid Grey */
    --bc: hsl(0, 0%, 0%); /* Black content on white background */

    /* Info */
    --in: hsla(217, 91%, 60%, 1); /* Blue */
    --inl: hsla(
        214,
        100%,
        97%,
        1
    ); /* Light Blue for use with base content colour */
    --inc: hsl(0, 0%, 100%); /* White content(text) on light blue background */

    /* Success */
    --su: hsla(118, 50%, 43%, 1); /* Green */
    --sul: hsla(
        152,
        81%,
        96%,
        1
    ); /* Light Green for use with base content colour */
    --suc: hsl(0, 0%, 100%); /* White content on light green background */

    /* Warning */
    --wa: hsla(45, 100%, 64%, 1); /* Yellow */
    --wal: hsla(
        48,
        100%,
        96%,
        1
    ); /* Light Yellow for use with base content colour */
    --wac: hsl(0, 0%, 0%); /* Black content on yellow background */

    /* Error */
    --er: hsla(354, 75%, 53%, 1); /* Red */
    --erl: hsla(
        356,
        100%,
        97%,
        1
    ); /* Light Red for use with base content colour */
    --erc: hsl(0, 0%, 100%); /* White content on red background */
}

.theme-dark {
    /* Primary */
    --p: hsl(237, 37%, 20%); /* #292F5B */
    --pf: hsl(237, 37%, 10%); /* Lighter shade (Hover etc.) */
    --pc: hsl(0, 0%, 100%); /* White content(text) for contrast */

    /* Secondary */
    --s: hsla(233, 74%, 74%, 1); /* #C52B67 */
    --sf: hsl(336, 57%, 38%); /* Lighter shade (Hover etc.) */
    --sc: hsl(0, 0%, 0%); /* Black content(text) for contrast */

    /* Tertiary */
    --t: hsl(237, 37%, 20%); /* #292F5B */
    --tf: hsl(237, 37%, 10%); /* Lighter shade (Hover etc.) */
    --tc: hsl(0, 0%, 100%); /* White content(text) for contrast */

    /* Ternary */
    --t: hsl(206, 23%, 30%); /* #E5E5EA */
    --tf: hsl(206, 23%, 24%); /* Darker shade */
    --tc: hsl(0, 0%, 80%); /* Black content for contrast */

    /* Accent */
    --a: hsl(156, 57%, 28%); /* Darker shade of complementary color */
    --af: hsl(158, 17%, 9%); /* Even darker shade */
    --ac: hsl(0, 0%, 80%); /* Lighter text(text) for contrast */

    /* Neutral */
    --n: hsl(0, 0%, 20%); /* Dark Grey */
    --nf: hsl(0, 0%, 15%); /* Even darker Grey */
    --nc: hsl(0, 0%, 80%); /* Light grey text for contrast */

    /* Base */
    --b1: hsl(0, 0%, 10%); /* Near Black */
    --b2: hsl(0, 0%, 15%); /* Dark Grey */
    --b3: hsl(0, 0%, 20%); /* Mid-Dark Grey */
    --b4: hsl(0, 0%, 25%); /* Mid Grey */
    --bc: hsl(0, 0%, 80%); /* Light grey text for contrast */

    /* Info */
    --in: hsla(217, 91%, 60%, 1); /* Blue */
    --inl: hsla(
        224,
        76%,
        48%,
        0.3
    ); /* Light Blue for use with base content colour */
    --inc: hsl(0, 0%, 100%); /* White content on light blue background */

    /* Success */
    --su: hsla(118, 50%, 43%, 1); /* Green */
    --sul: hsla(
        163,
        94%,
        24%,
        0.3
    ); /* Light Green for use with base content colour */
    --suc: hsl(0, 0%, 100%); /* White content on light green background */

    /* Warning */
    --wa: hsla(45, 100%, 64%, 1); /* Yellow */
    --wal: hsla(
        26,
        90%,
        37%,
        0.3
    ); /* Light Yellow for use with base content colour */
    --wac: hsl(0, 0%, 0%); /* Black content on yellow background */

    /* Error */
    --er: hsla(354, 75%, 53%, 1); /* Red */
    --erl: hsla(
        345,
        83%,
        41%,
        0.3
    ); /* Light Red for use with base content colour */
    --erc: hsl(0, 0%, 100%); /* White content on red background */
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button.btn:not(.icon),
a.btn {
    --bg-color: var(--s);
    --color: var(--sc);
    background-color: var(--bg-color);
    border: 1px solid var(--bg-color);
    color: var(--color);
    padding: 0 1rem;
    min-height: 3rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.inverse {
        color: var(--bg-color);
        background-color: transparent;
    }

    &.clear {
        --color: var(--bc);
        background: none;
        border: none;
    }

    &.info {
        --bg-color: var(--in);
        --color: var(--inc);
    }

    &.error {
        --bg-color: var(--er);
        --color: var(--erc);
    }

    &.success {
        --bg-color: var(--su);
        --color: var(--suc);
    }

    &.base {
        --bg-color: var(--b1);
        --color: var(--bc);
    }

    &:not([disabled='false'])[disabled] {
        --bg-color: var(--b4);
        --color: var(--bc);
        opacity: 0.3;
        pointer-events: none;
    }
}
